<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MongoScraper</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/app.css">
</head>
<body>

<nav class="navbar navbar-expand-lg bg-primary">
    <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="btn btn-info scrape-new" href="/articles">SCRAPE NEW ARTICLES</a>
        </li>
        <li class="nav-item">
            <a class="btn btn-info clear" href="/clear">CLEAR ARTICLES</a>
        </li>
        <li class="nav-item">
            <a class="btn nav-link saved" href="/articles/saved">SAVED ARTICLES</a>
        </li>
        </ul>
    </div>
</nav>

<div class="jumbotron text-center">
    <div class="caption">
        <h1>MONGO SCRAPER</h1>
    </div>
</div>